{% extends 'base.html' %}
{% load static %}
{% load post_tags %}
{% block content %}
<!-- start banner Area -->
<section class="banner-area relative">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row fullscreen align-items-center justify-content-between">
			<div class="col-lg-6 col-md-6 banner-left">
				<h6 class="text-white">Technology calls you!</h6>
				<h1 class="text-white">Petro Tech</h1>
				<p class="text-white">
					a leading supplier of industrial tools and equipment, offering a wide range of products from top
					global brands like Enerpac, Haskel, VEELOK, and Parker at competitive prices.
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start popular-destination Area -->
<section class="popular-destination-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Popular Brands</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="single-destination relative">
					<div class="thumb relative">
						<div class="overlay overlay-bg"></div>
						<img class="img-fluid" src="{% static 'img/d1.png' %}" alt="">
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-destination relative">
					<div class="thumb relative">
						<div class="overlay overlay-bg"></div>
						<img class="img-fluid" src="{% static 'img/d2.png' %}" alt="">
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-destination relative">
					<div class="thumb relative">
						<div class="overlay overlay-bg"></div>
						<img class="img-fluid" src="{% static 'img/d3.png' %}" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End popular-destination Area -->

<!-- Start blog Area -->
<section class="recent-blog-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-9">
				<div class="title text-center">
					<h1 class="mb-10">From Our Blog</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="active-recent-blog-carusel">
				{% for post in posts %}
				<div class="single-recent-blog-post item">
					<div class="thumb">
						<img class="img-fluid" src="{{post.image.url}}" alt="">
					</div>
					<div class="details">
						<div class="tags">
							<ul>
								{% for cat in post.category.all %}
								<li><a href="{% url 'post:category' cat_name=cat.name %}">{{cat.name}}</a> {% if not forloop.last %}{% endif %}</li>
								{% endfor %}
							</ul>
						</div>
						<a href="{% url 'post:single' pid=post.id %}">
							<h4 class="title">{{post.title}}</h4>
						</a>
						<p>{{post.content|truncatechars:100}}</p>
						<h6 class="date">{{post.published_date|date:"d M Y"}}</h6>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
<!-- End recent-blog Area -->
{% endblock %}