{% load static %}
<div class="single-sidebar-widget user-info-widget">
    <img src="{% static 'img/blog/user-info.jpg' %}" width="120px" alt="">
    <a href="#">
        <h4>Sepehr Norouzi</h4>
    </a>
    <p>
        Blog writer
    </p>
    <ul class="social-links">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://instagram.com/sepehrnorouzi7"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.linkedin.com/in/sepehrnorouzi7"><i class="fa fa-linkedin"></i></a></li>
    </ul>
    <p>
        Boot camps have its supporters andit sdetractors. Some people do not understand why you
        should have to spend money on boot camp when you can get. Boot camps have itssuppor ters
        andits detractors.
    </p>
</div>